body {
    font-family:Arial, Helvetica, sans-serif;
    --bs-body-line-height: 1.4;
    --bs-body-bg: var(--bs-gray-100);
    }
    #main{
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    }
    #marco{
    border-radius: 5px;
    border-style: solid;
    border-color: gray;
    background-color: rgba(255, 255, 0, 0.595);
    width: 80%;
    padding: 5px;
    }
    .table {
    --bs-table-color: var(--bs-gray-600);
    --bs-table-bg: var(--bs-gray-100);
    --bs-table-border-color: transparent;
    }
    .tarjeta{
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    }
    
    label{
    font-weight: bold;
    padding: 5px;
    
    }
.rj{ background-color: antiquewhite;
    
}
th {padding-left: 20px;
    padding-right: 20px;
border-radius: 20px;
background-color: rgba(0, 255, 255, 0.5);
width: 30px;
}


.btnbtn-info{
    border: radius 20px; ;
}